/* Write your CSS here */
.list-items {
  list-style-type: none;
}
.align {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-size: 25px;
  border-bottom: none;
}
.image {
  height: 100px;
  width: 100px;
}
