/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
}
.align {
  display: flex;
  justify-content: center;
}
.logo {
  height: 100px;
  width: 100px;
}
